<!DOCTYPE html>
<html ng-app="rentuiApp">
<head>
    <link rel="stylesheet" href="">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/components-font-awesome/css/font-awesome.css">
</head>
<body>
    <div ng-view></div>
    <!-- Scripts -->
    <script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/lib/ngmap/build/scripts/ng-map.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
    <script type="text/javascript" src="/js/services/rentuiServ.js"></script>
    <script type="text/javascript" src="/js/controllers/RentuiCtrl.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
