<!DOCTYPE html>
<html ng-app="rentuiApp">
  <head>
    <link rel="stylesheet" href="">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/components-font-awesome/css/font-awesome.css">
  </head>
  <body ng-controller="RentaController">
    <h1><%= title %></h1>

    <!--Datos-->
    <div class="panel panel-default">
        <div class="panel-heading">Casas</div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>Título</td>
                    <td>Autor</td>
                    <td>Año</td>
                    <td>Género</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="casa in casas" >
                    <td>{{casa.titulo}}</td>
                    <td>{{casa.autor}}</td>
                    <td>{{casa.anio}}</td>
                    <td>{{casa.genero}}</td>
                    <td>
                        <a ng-click="findCasa(casa._id)" title="Listar"><span class="fa fa-eye fa-fw"></span></a>&nbsp;&nbsp;&nbsp;
                        <a ng-click="showCasa(casa._id)" title="Modificar"><span class="fa fa-pencil fa-fw"></span></a>&nbsp;&nbsp;
                        <a ng-click="deleteCasa(casa._id)" title="Borrar"><span class="fa fa-trash fa-fw"></span></a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <!-- fin Datos -->
    <!--Inicio Formulario-->
    <div class="panel panel-default">
        <div class="panel-heading">Formulario</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <input id="titulo" class="form-control" type="hidden" ng-model="casa._id"><br>
                        <div class="col-md-3">
                            <label for="titulo">Título</label>
                            <input id="titulo" class="form-control" type="text" ng-model="casa.titulo"><br>
                        </div>
                        <div class="col-md-3">
                            <label for="autor">Autor</label>
                            <input id="autor" class="form-control" type="text" ng-model="casa.autor"><br>
                        </div>
                        <div class="col-md-3">
                            <label for="anio">Año</label>
                            <input id="anio" class="form-control" type="text" ng-model="casa.anio"><br>
                        </div>
                        <div class="col-md-3">
                            <label for="genero">Género</label>
                            <input id="genero" class="form-control" type="text" ng-model="casa.genero"><br>
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-danger" ng-click="addCasa()">Crear</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-danger" ng-click="updateCasa(casa)">Modificar</button>
        </div>
    </div>
    <!--Fin Formulario-->

  </body>
    <!-- Scripts -->
    <script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/js/services/rentuiServ.js"></script>
    <script type="text/javascript" src="/js/controllers/RentuiCtrl.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>