<h1>Gestionar Arrendadores</h1>
<a href="#/"> Inicio</a>
<a href="#!casas"> Casas</a>
</br>
</br>
<!--Datos de Arrendadores-->
<div class="panel panel-default">
    <div class="panel-heading">Listado de Arrendadores</div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <td>Nombre</td>
                <td>Apellidos</td>
                <td>Teléfono</td>
                <td>Correo</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="arrendador in arrendadores" >
                <td>{{arrendador.nombre}}</td>
                <td>{{arrendador.apellidos}}</td>
                <td>{{arrendador.telefono}}</td>
                <td>{{arrendador.correo}}</td>
                <td>
                    <a ng-click="findArrendador(arrendador._id)" title="Listar"><span class="fa fa-eye fa-fw"></span></a>&nbsp;&nbsp;&nbsp;
                    <a ng-click="showArrendador(arrendador._id)" title="Modificar"><span class="fa fa-pencil fa-fw"></span></a>&nbsp;&nbsp;
                    <a ng-click="deleteArrendador(arrendador._id)" title="Borrar"><span class="fa fa-trash fa-fw"></span></a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
<!-- fin Datos Arrendadores -->
<!--Inicio Formulario Arrendadores-->
<div class="panel panel-default">
    <div class="panel-heading">Formulario de Arrendadores</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <input id="id" class="form-control" type="hidden" ng-model="arrendador._id"><br>
                    <div class="col-md-3">
                        <label for="nombre">Nombre</label>
                        <input id="nombre" class="form-control" type="text" ng-model="arrendador.nombre"><br>
                    </div>
                    <div class="col-md-3">
                        <label for="apellidos">Apellidos</label>
                        <input id="apellidos" class="form-control" type="text" ng-model="arrendador.apellidos"><br>
                    </div>
                    <div class="col-md-3">
                        <label for="telefono">Teléfono</label>
                        <input id="telefono" class="form-control" type="text" ng-model="arrendador.telefono"><br>
                    </div>
                    <div class="col-md-3">
                        <label for="correo">Correo</label>
                        <input id="correo" class="form-control" type="text" ng-model="arrendador.correo"><br>
                    </div>

                </div>
            </div>
        </div>

        <button type="button" class="btn btn-danger" ng-click="addArrendador()">Crear</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-danger" ng-click="updateArrendador(arrendador)">Modificar</button>
    </div>
</div>
<!--Fin Formulario Arrendadores-->